<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/bootstrap-5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet">
</head>

<body>

<div id="header">
    <div id="swiper" class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-hash="production-progress">
                <div class="header-card">
                    <div class="header-card-title">Production</div>
                    <div class="header-card-body">
                        <div class="data">
                            <div class="data-body" id="production-progress-percentage"></div>
                        </div>
                        <div class="icon">
                            <img src="/icons/production-progress.png" />
                        </div>
                    </div>
                    <div class="header-card-footer">in Progress</div>
                </div>
            </div>
            <div class="swiper-slide" data-hash="production-completed">
                <div class="header-card">
                    <div class="header-card-title">Production</div>
                    <div class="header-card-body">
                        <div class="data">
                            <div class="data-body" id="production-completed-percentage"></div>
                        </div>
                        <div class="icon">
                            <img src="/icons/production-completed.png" />
                        </div>
                    </div>
                    <div class="header-card-footer">Completed</div>
                </div>
            </div>
            <div class="swiper-slide" data-hash="logistics">
                <div class="header-card">
                    <div class="header-card-title">Logistics</div>
                    <div class="header-card-body">
                        <div class="data">
                            <div class="data-body" id="logistics-count">86</div>
                            <div class="data-sub">Units</div>
                        </div>
                        <div class="icon">
                            <img src="/icons/logistics.png" />
                        </div>
                    </div>
                    <div class="header-card-footer">in Transit</div>
                </div>
            </div>
            <div class="swiper-slide" data-hash="installation">
                <div class="header-card">
                    <div class="header-card-title">Installation</div>
                    <div class="header-card-body">
                        <div class="data">
                            <div class="data-body" id="installation-percentage"></div>
                        </div>
                        <div class="icon installation-icon">
                            <img src="/icons/installation.png" />
                        </div>
                    </div>
                    <div class="header-card-footer">Installed</div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div id="content">
    <div id="production-progress" class="page">
        <div class="content-card progress-diagram">
            <div class="content-card-body">
                <div class="data-wrapper">
                    <div class="data">
                        <div class="data-body" id="production-progress-count"></div>
                        <div class="data-sub">&nbsp;Units</div>
                    </div>
                    <div class="annotation">in Progress</div>
                </div>
                <div class="diagram">
                    <div class="square-wrapper">
                        <div class="square-row" th:each="i : ${#numbers.sequence(0,9)}">
                            <div class="square"
                                 th:each="j : ${#numbers.sequence(0,9)}"
                                 th:id="'pp-square-' + ${100 - i*10 - j}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-card-footer">
                <div class="legend">
                    <div>
                        <div class="square pp-square-blue"></div>
                        <div class="description">Completed</div>
                    </div>
                    <div>
                        <div class="square pp-square-yellow"></div>
                        <div class="description">In progress</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-card work-stage">
            <div class="content-card-body">
                <div id="work-stage-table">
                    <div class="table-row">
                        <div class="table-cell table-head work-stage-name">Work Stage</div>
                        <div class="table-cell table-head work-stage-count">Units in Progress</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="production-completed" class="page">
        <div class="content-card progress-diagram">
            <div class="content-card-body">
                <div class="data-wrapper">
                    <div class="data">
                        <div class="data-body" id="production-completed-count"></div>
                        <div class="data-sub">/</div>
                        <div class="data-sub" id="production-total"></div>
                    </div>
                    <div class="annotation">Completed</div>
                </div>
                <div class="diagram">
                    <div class="square-wrapper">
                        <div class="square-row" th:each="i : ${#numbers.sequence(0,9)}">
                            <div class="square"
                                 th:each="j : ${#numbers.sequence(0,9)}"
                                 th:id="'pc-square-' + ${100 - i*10 - j}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-card-footer">
                <div class="legend">
                    <div>
                        <div class="square pc-square-blue"></div>
                        <div class="description">Completed</div>
                    </div>
                    <div>
                        <div class="square pc-square-yellow"></div>
                        <div class="description">In progress</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-card factory-storage">
            <div class="content-card-body">
                <div class="data-wrapper">
                    <div class="data">
                        <div class="data-body" id="production-factory-count"></div>
                        <div class="data-sub">&nbsp;Units</div>
                    </div>
                    <div class="factory-icon">
                        <img src="/icons/factory-black.png" />
                    </div>
                </div>
                <div class="annotation">Stored at Factory</div>
            </div>
        </div>
        <div class="content-card monthly-stat">
            <div class="content-card-body">
                <div id="bar-chart"></div>
            </div>
        </div>
    </div>

    <div id="logistics" class="page">
        <div id="map-frame">
            <div id="map"></div>
        </div>
    </div>

    <div id="installation" class="page">
        <div class="content-card progress-diagram">
            <div class="content-card-body">
                <div class="data-wrapper">
                    <div class="data">
                        <div class="data-body" id="installation-count"></div>
                        <div class="data-sub">&nbsp;Units</div>
                    </div>
                    <div class="annotation">Installed</div>
                </div>
                <div class="diagram">
                    <div class="square-wrapper">
                        <div class="square-row" th:each="i : ${#numbers.sequence(0,9)}">
                            <div class="square"
                                 th:each="j : ${#numbers.sequence(0,9)}"
                                 th:id="'in-square-' + ${100 - i*10 - j}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-card-footer">
                <div class="legend">
                    <div>
                        <div class="square in-square-green"></div>
                        <div class="description">Installed</div>
                    </div>
                    <div>
                        <div class="square in-square-blue"></div>
                        <div class="description">Completed</div>
                    </div>
                    <div>
                        <div class="square in-square-yellow"></div>
                        <div class="description">In progress</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>

<script src="/jquery/3.6.0/jquery.min.js"></script>
<script src="/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/echarts-5.2.2/echarts.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
<script type="module" src="/js/dashboard.js"></script>

</body>
</html>