<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Home</title>
    <style>
        #container-main {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 32px 144px;
            padding: 100px 200px;
        }

        .flex-item {
            width: 544px;
            height: 388px;
            background: dodgerblue;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="flex-item">1</div>
    <div class="flex-item">2</div>
    <div class="flex-item">3</div>
    <div class="flex-item">4</div>
<!--    <div class="flex-item">5</div>-->
<!--    <div class="flex-item">6</div>-->
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</body>
</html>