<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Production Dashboard</title>
    <link th:href="@{/css/production.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="row" style="margin: 0"><!--add a style here to fix a bug caused by bootstrap row-->
        <div class="col-3"></div>
        <div class="col-6" id="display-area"><!--TODO: responsive-->
            <div id="heading">
                <h3>PRODUCTION</h3>
            </div>
            <div id="completion-rate">
                <div id="completion-rate-graph">
                    <div th:each="i : ${#numbers.sequence(0,4)}">
                        <div th:each="j : ${#numbers.sequence(0,9)}" class="box-icon-frame">
                            <img th:id="'box-icon-' + ${i*10 + j}" th:src="@{/images/box-0.png}"
                                 class="box-icon"/>
                        </div>
                    </div>
                    <div id="completion-rate-caption">
                        <span id="completed-modules"></span> of <span id="total-modules"></span> modules completed
                    </div>
                </div>
                <div id="completion-rate-number">
                    <span></span>%
                </div>
            </div>
            <div id="monthly-completion"></div>
            <div id="pass-rate">
                <div id="pass">
                    <div>PASS</div>
                    <div id="pass-number">
                        <span></span>%
                    </div>
                </div>
                <div id="fail">
                    <div>FAIL</div>
                    <div id="fail-number">
                        <span></span>%
                    </div>
                </div>
            </div>
            <div id="monthly-pass-rate">
                <div class="progress-bar-row">
                    <div class="progress-bar-left">DEC</div>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress-bar-right">80%</div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:inline="javascript">
        console.log([[${student}]]);

        /**
         * -----------------------------------------------------------------------------------------------------------------
         * block: completion rate
         */
        var completedModules = 532; // to be passed via model map from backend
        var totalModules = 952; // to be passed via model map from backend
        var completionRate = completedModules / totalModules;

        for (let i = 0; i < completionRate * 50; ++i) {
            $('#box-icon-' + i).attr('src', '/images/box-1.png');
            $('#box-icon-' + i).addClass('filled');
        }

        $('#completed-modules').text(completedModules);
        $('#total-modules').text(totalModules);

        animateNumberDisplay($('#completion-rate-number span'), completionRate * 100, 1000, 1);

        /**
         * -----------------------------------------------------------------------------------------------------------------
         * block: monthly completion
         */
        var monthlyCompletionChart = echarts.init(document.getElementById('monthly-completion'));
        monthlyCompletionChart.setOption({
            grid: {
                left: '15%'
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                type: 'value',
                name: 'No. of Modules',
                nameLocation: 'middle',
                nameGap: 50,
                nameTextStyle: {
                    fontStyle: 'bold',
                    fontSize: 14,
                    color: '#000'
                }
            },
            legend: {
                orient: 'vertical',
                right: '10%',
                bottom: '27%',
                padding: 10,
                backgroundColor: '#fff',
                borderColor: '#999',
                borderWidth: 2,
                borderRadius: 5,
                data: ['Planned', 'Actual']
            },
            tooltip: {
                trigger: 'axis'
            },
            series: [
                {
                    type: 'line',
                    name: 'Planned',
                    data: [1000, 1050, 1130, 1200, 1350, 1500, 1550, 1550, 1550, 1550, 1550, 1550], // to be passed via model map from backend
                    smooth: true,
                    lineStyle: {
                        color: '#25d7bc',
                        width: 3
                    },
                    itemStyle: {
                        color: '#25d7bc'
                    }
                },
                {
                    type: 'line',
                    name: 'Actual',
                    data: [820, 932, 901, 934, 1290, 1330, 1320, 1440, 1508, 1601, 1599, 1604], // to be passed via model map from backend
                    smooth: true,
                    lineStyle: {
                        color: '#ee819a',
                        width: 3
                    },
                    itemStyle: {
                        color: '#ee819a'
                    }
                }
            ]
        });

        new ResizeObserver(function () {
            monthlyCompletionChart.resize();
        }).observe(document.getElementById('container-right'));

        /**
         * -----------------------------------------------------------------------------------------------------------------
         * block: pass rate
         */
        var passRate = 0.9; // to be passed via model map from backend
        var failRate = 1.0 - passRate;
        animateNumberDisplay($('#pass-number span'), passRate * 100, 1000, 0);
        animateNumberDisplay($('#fail-number span'), failRate * 100, 1000, 0);

        /**
         * display number with animation in a counting manner
         * @param $element the jquery element holding the number
         * @param number the number to be animated
         * @param duration duration of the animation
         * @param fractionDigits number of decimals to be rounded to
         */
        function animateNumberDisplay($element, number, duration, fractionDigits) {
            $element.text(number);
            $element.prop('counter', 0).animate({ // start counting from 0
                counter: $element.text()
            }, {
                duration: duration,
                easing: 'swing',
                step: function (current) {
                    $element.text(current.toFixed(fractionDigits));
                }
            });
        }

        $('.progress-bar').attr('aria-valuenow', 70).animate({
            width: '80%'
        }, {
            duration: 1000
        });
    </script>
</th:block>
</body>
</html>