/*
------------------------------------------------------------------------------------------------------------------------
import fonts
 */

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoSlab;
    src: url(/fonts/RobotoSlab-Regular.ttf);
}

/*
------------------------------------------------------------------------------------------------------------------------
global properties
 */

body {
    font-family: Roboto, system-ui;
}

.data {
    font-family: RobotoSlab, system-ui;
    display: flex;
    align-items: baseline;
}

/*
------------------------------------------------------------------------------------------------------------------------
header (with swiper)
 */

#swiper {
    height: 184px;
    margin-bottom: 16px;
}

#swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination-bullet {
    margin: 0 8px !important;
}

.header-card {
    background: #3AA0DD;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 240px;
    height: 120px;
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    letter-spacing: 2px;
}

.header-card-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header-card-body {
    display: flex;
    justify-content: space-around;
}

.header-card-body > .data {
    color: #F7CD45;
}

.header-card-body .data-body {
    font-size: 52px;
    font-weight: bold;
    line-height: 1em;
}

.header-card-body .data-sub {
    font-size: 14px;
    line-height: 1em;
}

.header-card-body > .icon {
    display: flex;
    align-items: center;
}

.header-card-body > .icon > img {
    max-width: 54px;
    max-height: 54px;
}

.header-card-footer {
    color: white;
    font-size: 14px;
}

/*
------------------------------------------------------------------------------------------------------------------------
content (for exhibiting data)
 */

#content {
    background: #0689D8;
    padding: 32px;
}

.page {
    display: none;
}

.page-active {
    display: block !important;
}

.content-card {
    background: white;
    border-radius: 10px;
    padding: 12px 24px;
    letter-spacing: 2px;
}

.page > .content-card:not(:last-child) {
    margin-bottom: 32px;
}

.content-card .data {
    color: #0689D8;
}

.content-card .data-body {
    font-size: 60px;
    font-weight: bold;
}

.content-card .data-sub {
    font-size: 18px;
}

.content-card .annotation {
    font-size: 21px;
}

/*
progress diagram:
customization of content card
 */

.progress-diagram {
    padding-bottom: 20px;
}

.progress-diagram > .content-card-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.progress-diagram .diagram {
    display: flex;
    align-items: center;
}

.square-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.square-row {
    display: flex;
    gap: 3px;
}

.square {
    width: 6px;
    height: 6px;
    background: #C4C4C4;
}

.pp-square-blue {
    background: rgba(58, 160, 221, 0.3);
}

.pp-square-yellow {
    background: rgba(247, 205, 69);
}

.pc-square-blue {
    background: rgba(58, 160, 221);
}

.pc-square-yellow {
    background: rgba(247, 205, 69, 0.3);
}

/*
factory storage
 */

.factory-storage .data-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.factory-icon {
    display: flex;
    align-items: center;
}

.factory-icon > img {
    width: 90px;
}

/*
map
 */

#map-frame {
    border-radius: 10px;
    border: 2px solid white;
    /* clip the corners of the map to fit its frame */
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black); /* for Safari and iOS devices */
}

#map {
    height: 360px;
}