#panel {
    margin-top: 36px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > * {
    flex-grow: 1;
}

.display-card {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #d1d1d1;
    padding: 12px 24px;
    margin-bottom: 12px;
}

.display-number {
    font-family: Pixer-Regular, system-ui;
    color: #027bd3;
}

.display-number > * {
    line-height: 0.75em;
}

#install-total,
#install-block-a, #install-block-b,
#avg-install-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#install-total .display-number {
    font-size: 48px;
}

#install-total .installed {
    font-size: 168px;
}

#install-block-a .display-number,
#install-block-b .display-number {
    font-size: 28px;
}

#install-block-a .installed,
#install-block-b .installed {
    font-size: 68px;
}

#avg-install-time > .display-number {
    font-size: 36px;
}

#avg-install-time > .display-number > span {
    font-size: 100px;
}

@media (max-width: 1023px) {
    .display-card {
        padding: 6px 12px;
    }

    #install-total .display-number {
        font-size: 36px;
    }

    #install-total .installed {
        font-size: 100px;
    }

    #install-block-a .display-number,
    #install-block-b .display-number {
        font-size: 24px;
    }

    #install-block-a .installed,
    #install-block-b .installed {
        font-size: 48px;
    }
}

#logistics-info {
    list-style: none;
    padding-left: 0;
    display: table;
}

#logistics-info > li {
    display: table-row;
}

#logistics-info > li > span {
    display: table-cell;
}

#logistics-info > li > .colon {
    padding-left: 1.5rem;
    padding-right: 0.75rem;
}

#map-frame {
    border-radius: 2px;
    /* clip the corners of the map to fit its frame */
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black); /* for Safari and iOS devices */
}

#map {
    height: 180px;
}

.mapboxgl-popup-content {
    font-size: 10px !important;
    line-height: 1rem !important;
    padding: 5px 10px !important;
    max-width: 150px;
}

.mapboxgl-popup-close-button {
    display: none;
}

#three-model {
    margin-bottom: 0;
    padding: 0 !important;
    position: relative;
}

#three-model > * {
    height: 680px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.loading {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading.hide {
    display: none;
}

.loading .spinner-border {
    width: 44px;
    height: 44px;
}

.loading .caption {
    margin-top: 8px;
}

.no-grab {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 48px;
}

.no-grab.left {
    left: 0;
}

.no-grab.right {
    right: 0;
}

@media (max-width: 577px) {
    #three-model > * {
        height: 480px;
    }
}

@media (max-height: 481px) {
    #three-model > * {
        height: 280px;
    }
}

#canvas {
    cursor: grab;
}

#canvas.grabbing {
    cursor: grabbing !important;
}

#canvas.select {
    cursor: pointer;
}