#display-area {
    padding: 16px 0;
}

#heading {
    color: #6a6a6a;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 0 2px #aaa;
}

form#module-search {
    padding-bottom: 32px;
}

form#module-search input {
    background: #ececec;
}

@media (max-width: 575px) {
    form#module-search {
        padding-bottom: 16px;
    }
}

#trace-graph {
    display: flex;
    justify-content: space-between;
    margin: 72px 48px 24px;
    position: relative;
}

#trace-graph .node {
    position: relative;
}

#trace-graph .node > img {
    width: 84px;
    filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.3));
}

#trace-graph .node > .estimated-arrival {
    position: absolute;
    width: 180px;
    left: calc(50% - 90px);
    bottom: 120%;
    padding: 4px;
    border-radius: 4px;
    background: #f9d153;
    text-align: center;
    font-size: 14px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
    #trace-graph {
        margin-left: 0;
        margin-right: 0;
    }

    #trace-graph .node > img {
        width: 72px;
    }

    #trace-graph .node:nth-child(2) > .estimated-arrival {
        left: 0;
    }

    #trace-graph .node:last-child > .estimated-arrival {
        left: initial;
        right: 0;
    }
}

@media (max-width: 575px) {
    #trace-graph {
        margin-bottom: 16px;
    }

    #trace-graph .node > img {
        width: 48px;
    }

    #trace-graph .node > .estimated-arrival {
        width: 150px;
        left: calc(50% - 75px);
        font-size: 11px;
    }
}

#trace-graph svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.3));
}

#trace-graph svg > line {
    stroke-width: 6px;
}

#trace-graph svg > #line-left {
    stroke: #f9d153;
}

#trace-graph svg > #line-right {
    stroke: #a6a6a6;
}

@media (max-width: 575px) {
    #trace-graph svg > line {
        stroke-width: 4px;
    }
}

#panel {
    padding: 12px 4px 20px;
    border-radius: 14px;
    background: #027bd3;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#panel-heading {
    font-size: 21px;
    margin-bottom: 8px;
}

#panel-heading strong {
    letter-spacing: 1px;
}

#map {
    height: 600px;
    border-radius: 12px;
}

#map canvas {
    /* must have the same border radius as #map div to ensure proper display of mapbox */
    border-radius: 12px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

.mapboxgl-popup-content {
    color: black;
    padding: 5px 10px !important;
}

.mapboxgl-popup-close-button {
    display: none;
}

.bubble-container {
    display: flex;
    justify-content: center;
}

.bubble {
    text-align: center;
    padding-top: 4px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin-top: 28px;
    margin-bottom: 28px;
}

.bubble.mainland {
    background: #d1452d;
}

.bubble.sea {
    background: #f8c012;
}

.bubble.hk {
    background: #8fc408;
}

.bubble .number {
    font-weight: bold;
    font-size: 24px;
}

.bubble img.transport-logo {
    height: 42px;
}

.bubble .description-text {
    font-size: 12px;
}

@media (max-width: 1199px) {
    .bubble {
        margin-bottom: 8px;
    }
}

@media (max-width: 575px) {
    .bubble {
        padding-top: 0;
        width: 90px;
        height: 90px;
    }

    .bubble .number {
        font-size: 16px;
    }

    .bubble img.transport-logo {
        height: 24px;
    }

    .bubble .description-text {
        font-size: 8px;
    }
}