<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link th:href="@{/bootstrap-5.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap-icons-1.7.0/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/fontawesome/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
</head>
<body class="no-transition">
<div id="container-left">
    <div id="logo-container">
        <img th:src="@{/images/e-tracker-logo.png}" alt="logo" id="logo"/>
    </div>
    <div id="toggle-container">
        <div id="greeting">Welcome!</div>
        <div id="navbar-left-toggle">
            <i class="fas fa-angle-double-right arrow-right"></i>
            <i class="fas fa-angle-double-left arrow-left"></i>
        </div>
    </div>
    <div id="user-profile-left">
        <img th:src="@{/images/avatar-default.jpg}" alt="avatar" id="avatar-left"/>
        <div id="username-left">Admin</div>
    </div>
    <nav id="navbar-left" class="nav flex-column">
        <a id="home-link" class="nav-link" th:href="@{/dashboard}">
            <i class="fas fa-layer-group navbar-left-icon"></i><span class="desc-text">Home</span>
        </a>
        <a id="production-link" class="nav-link" th:href="@{/dashboard/production}">
            <i class="bi bi-clipboard-data navbar-left-icon"></i><span class="desc-text">Production</span>
        </a>
        <a id="logistics-link" class="nav-link" th:href="@{/dashboard/logistics}">
            <i class="fas fa-truck-moving navbar-left-icon"></i><span class="desc-text">Logistics</span>
        </a>
        <a id="installation-link" class="nav-link" th:href="@{/dashboard/installation}">
            <i class="fas fa-city navbar-left-icon"></i><span class="desc-text">Installation</span>
        </a>
    </nav>
</div>
<div id="container-right">
    <nav id="navbar-top" class="navbar navbar-expand-md navbar-light">
        <div>
            <img th:src="@{/images/grey-logo.png}" alt="logo" id="logo-top"/>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <form class="d-flex my-2 my-md-0">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn search"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <div id="user-profile-top">
            <img th:src="@{/images/avatar-default.jpg}" alt="avatar" id="avatar-top"/>
            Admin
        </div>
    </nav>
    <div id="container-main">
        <div id="float-expand-btn">
            <i class="fas fa-angle-right"></i>
        </div>
        <!--main content of the dashboard-->
        <th:block layout:fragment="content"></th:block>
    </div>
</div>

<script th:src="@{/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/bootstrap-5.1.3/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/layout.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>